.deploy-list {
    margin: 5px 16px;
}

/** Override mdl textfield for radio button group **/
.mdl-textfield__label {
    top: 0;
}

.mdl-textfield {
    padding: 0 !important;
    /*width: 100%;*/
}

.mdl-textfield__label:after {
    bottom: 0 !important;
}

label.mdl-radio {
    display: flex;
}

.sub-task {
    margin: 10px 0 10px 24px !important;
}

.deploy-sub-nav {
    padding: 10px 20px 20px 25px;
}