.top-card .posm-grey {
    background-color: rgb(55, 71, 79) !important;
}

.top-card .posm-grey h2 {
    color: white;
}

.top-card .mdl-card__title {
    min-height: 200px;
}


#render-db-progress-spinner {
    display: none;
}

ul.deploy-sub-nav li {
    list-style: none;
    display: flex !important;
}