.posm-drawer-header {
    background-color: white;
    padding: 16px;
}

.posm-console-output pre {
    padding: 4px 16px 16px 16px;
    overflow: scroll;
    height: 400px;
    background-color: rgba(117, 117, 117, 0.1);
    color: rgb(55, 71, 79);
    margin: 0;
    font-family:Consolas,Monaco,'Andale Mono',monospace;
    font-size: 14px;
}

#supporting-msg-div {
}

/* console error message */
.msg-error {
    color:red;
}

/* nav bar */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(224,224,224,.5) !important;
}

.mdl-navigation__link.active {
    font-weight: 700 !important;
    color: white !important;
}