.top-card .hot-export-url {
    padding: 0 40px 8px 40px;
}

.top-card .hot-export-url .mdl-textfield {
    width: 100%;
}

.top-card .posm-grey {
    background-color: black !important;
}

.top-card h2 {
    color: white;
}

.top-card .mdl-card__title {
    min-height: 200px;
    /*background-image: url('../images/hot-logo.png');*/
    background-position: 98% 70%;
    background-repeat: no-repeat;
}
